<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agregar noticia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Agregar noticia</ion-title>
    </ion-toolbar>
  </ion-header>

<!--Se empiezan a agregar los campos para agregar una noticia-->
<ion-list>
  <ion-item>
    <ion-input labelPlacement="floating" >
      <div slot="label">Título de tu noticia <ion-text color="danger">(*)</ion-text></div>
    </ion-input>
  </ion-item>
</ion-list>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
