.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  
}

ion-card {
  width: 50%;
  height: fit-content;
  max-width: 400px;
  --background: #e5e5e5; /* Fondo de la tarjeta */
  --color: #000000; /* Color del texto */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.767); /* Sombra de la tarjeta */
}

ion-card-header {
  --background: #8d007c; /* Fondo del encabezado de la tarjeta */
  justify-content: center;
  align-items: center;
  //para agregarle un borde de sombra a la tarjeta se puede agregar la siguiente línea
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.767);
}

ion-card-title {
  
  font-size: 1.5em;
  font-weight: bold;
  --color: #ffffff; /* Color del texto del encabezado */
}

ion-item {
  --background: #f8f9fa; /* Fondo del item */
  --color: #000000; /* Color del texto */
}

ion-input,
ion-datetime,
ion-textarea {
  --background: #ffffff; /* Fondo del input */
  --color: #000000; /* Color del texto */
}

ion-button {
  --background: #6200ea; /* Fondo del botón */
  --color: #ffffff; /* Color del texto del botón */
}

.image-preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image-preview {
  max-width: 80%; /* Ancho máximo de la imagen */
  max-height: 80%; /* Altura máxima de la imagen */
}

ion-content {
  --background: linear-gradient(to right, #01244e, #390337); 
} //otros tipos de gradientes son linear-gradient(to right, #6200ea, #007bff) o linear-gradient(to right, #6200ea, #007bff, #00ff00, #ff0000)