<ion-header>
  <ion-toolbar>
    <ion-title>
      Noticias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let noticia of noticias">
      <ion-label>
        <h2>{{ noticia.titulo }}</h2>
        <p>{{ noticia.contenido }}</p>
      </ion-label>
      <ion-button (click)="eliminarNoticia(noticia.id)" color="danger">
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-button (click)="agregarNoticia()" expand="full">
    Agregar Noticia
  </ion-button>
</ion-content>